<h2 id="title">Ember CLI Spin Button Addon</h2>

{{outlet}}

<div><label> Button Color{{view "select" content=buttonColors value=selectedColor}}</label></div>
<div><label>Animation Style{{view "select" content=buttonStyles value=selectedAnimation}}</label></div>
<div><label>Timeout ({{timeout}}ms) <div>{{input type="range" max="10000" step="250" valueBinding=timeout}}</div></label></div>


<p><label>{{input type="checkbox" checkedBinding="controller.inFlight"}} In Flight</label></p>
<p>{{#spin-button
  inFlightBinding="controller.inFlight"
  colorBinding="controller.selectedColor"
  action="createUser"
  defaultTimoutBinding="controller.timeout"
  buttonStyleBinding="controller.selectedAnimation"}}Create User{{/spin-button}}</p>
